h4{
    color: greenyellow
}

h2{font-family: fantasy}

div{background-color: indianred}

body{
    border: 2px dotted pink
}
.likesBox {background-color: paleturquoise}

h3{
    font-family: cursive ; color: mediumslateblue
}